examples/mir-integration.json
[{"id":"8b5545a8.0bca2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"97bee749.589808","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"b9e1e0af.7ebe7","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"MiR 100 Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f746d4b.691c928","type":"ros-connection","z":"","url":"ws://localhost:9090"},{"id":"93a9b4f.dbc92c8","type":"ui_group","z":"","name":"2D Map","tab":"97bee749.589808","order":1,"disp":true,"width":8,"collapse":false},{"id":"141d99a0.005ef6","type":"ui_group","z":"","name":"Status","tab":"97bee749.589808","order":3,"disp":true,"width":"6","collapse":false},{"id":"f5fac7a3.70fba8","type":"ui_template","z":"8b5545a8.0bca2","group":"93a9b4f.dbc92c8","name":"create map","order":4,"width":0,"height":0,"format":"<script src=\"https://static.robotwebtools.org/EaselJS/current/easeljs.js\"></script>\n<script src=\"https://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js\"></script>\n<script src=\"https://static.robotwebtools.org/roslibjs/current/roslib.js\"></script>\n<script src=\"https://static.robotwebtools.org/ros2djs/current/ros2d.js\"></script>\n<script src=\"https://static.robotwebtools.org/nav2djs/current/nav2d.js\"></script>\n\n<script>\n    function initVisualization() {\n        var ros = new ROSLIB.Ros({\n            url: \"ws://localhost:9090\"\n        });\n\n        var viewer = new ROS2D.Viewer({\n           divID: \"map\",\n           width: 400,\n           height: 400\n        });\n        \n        //var gridClient = new ROS2D.OccupancyGridClient({\n        //   ros: ros,\n        //   topic: \"/map\",\n        //   rootObject: viewer.scene\n        //});\n        \n        //gridClient.on(\"change\", () => {\n        //    viewer.scaleToDimensions(gridClient.currentGrid.width,\n        //                             gridClient.currentGrid.height);\n        //    viewer.shift(gridClient.currentGrid.pose.position.x,\n        //                 gridClient.currentGrid.pose.position.y);\n        //});\n        \n        var navClient = new NAV2D.OccupancyGridClientNav({\n            ros: ros,\n            topic: \"/map\",\n            rootObject: viewer.scene,\n            serverName: \"/move_base/goal\",\n            viewer: viewer\n        });\n    }\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":110,"y":180,"wires":[[]]},{"id":"19d7537.a1d072d","type":"ui_template","z":"8b5545a8.0bca2","group":"93a9b4f.dbc92c8","name":"display map","order":1,"width":"0","height":"0","format":"<script>initVisualization();</script>\n<p>Navigation goal is set by double clicking a location in the map.</p>\n<div id=\"map\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":330,"y":180,"wires":[[]]},{"id":"4188ace9.45ff1c","type":"ros-subscriber","z":"8b5545a8.0bca2","connection":"f746d4b.691c928","topic":"/odometry/filtered","name":"/odometry/filtered","x":120,"y":40,"wires":[["c3917191.fd4938"]]},{"id":"c3917191.fd4938","type":"function","z":"8b5545a8.0bca2","name":"odom to speed","func":"var x = msg.payload.twist.twist.linear.x;\nvar y = msg.payload.twist.twist.linear.y;\nvar z = msg.payload.twist.twist.linear.z;\nvar speed = Math.sqrt(Math.pow(x, 2) + Math.pow(y, 2) + Math.pow(z, 2));\nmsg.payload = speed;\nreturn msg","outputs":1,"noerr":0,"x":340,"y":40,"wires":[["40622ebc.df0d48"]]},{"id":"40622ebc.df0d48","type":"ui_gauge","z":"8b5545a8.0bca2","name":"speed gauge","group":"141d99a0.005ef6","order":1,"width":0,"height":0,"gtype":"gage","title":"Linear speed","label":"meters per second","format":"","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":40,"wires":[]},{"id":"dbdef029.a65ae8","type":"ros-subscriber","z":"8b5545a8.0bca2","connection":"f746d4b.691c928","topic":"/amcl_pose","name":"/amcl_pose","x":110,"y":80,"wires":[["9c4b3e5.1c2c44"]]},{"id":"9c4b3e5.1c2c44","type":"function","z":"8b5545a8.0bca2","name":"pose uncertainty","func":"// Compute Frobenius norm of the covariance matrix\nvar matrixSize = 36;\nvar i;\nvar sum = 0;\nfor (i = 0; i < matrixSize; i++) {\n    sum += Math.pow(msg.payload.pose.covariance[i], 2);\n}\nmsg.payload = Math.sqrt(sum);\nreturn msg","outputs":1,"noerr":0,"x":350,"y":80,"wires":[["805bf989.ad8628"]]},{"id":"805bf989.ad8628","type":"ui_gauge","z":"8b5545a8.0bca2","name":"pose uncertainty","group":"141d99a0.005ef6","order":2,"width":0,"height":0,"gtype":"gage","title":"Pose uncertainty","label":"","format":"","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":80,"wires":[]},{"id":"d52eb988.b96e18","type":"ros-subscriber","z":"8b5545a8.0bca2","connection":"f746d4b.691c928","topic":"/imu_data","name":"/imu_data","x":100,"y":120,"wires":[["1f70f0cb.8da9b7"]]},{"id":"c9b9e057.840dd","type":"ui_chart","z":"8b5545a8.0bca2","name":"","group":"141d99a0.005ef6","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":120,"wires":[[]]},{"id":"1f70f0cb.8da9b7","type":"function","z":"8b5545a8.0bca2","name":"linear acceleration x","func":"msg.payload = msg.payload.linear_acceleration.z\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":120,"wires":[["c9b9e057.840dd"]]}]