examples/with_gzweb-integration.json
[{"id":"daac5ad4.489ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e2cdb101.ea5d18","type":"ui_template","z":"daac5ad4.489ca8","group":"2db34e8b.e7a0fa","name":"create map","order":4,"width":0,"height":0,"format":"<script src=\"https://static.robotwebtools.org/EaselJS/current/easeljs.js\"></script>\n<script src=\"https://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js\"></script>\n<script src=\"https://static.robotwebtools.org/roslibjs/current/roslib.js\"></script>\n<script src=\"https://static.robotwebtools.org/ros2djs/current/ros2d.js\"></script>\n<script src=\"https://static.robotwebtools.org/nav2djs/current/nav2d.js\"></script>\n\n<script>\n    function initVisualization() {\n        var ros = new ROSLIB.Ros({\n            url: \"ws://localhost:9090\"\n        });\n\n        var viewer = new ROS2D.Viewer({\n           divID: \"map\",\n           width: 400,\n           height: 400\n        });\n        \n        //var gridClient = new ROS2D.OccupancyGridClient({\n        //   ros: ros,\n        //   topic: \"/map\",\n        //   rootObject: viewer.scene\n        //});\n        \n        //gridClient.on(\"change\", () => {\n        //    viewer.scaleToDimensions(gridClient.currentGrid.width,\n        //                             gridClient.currentGrid.height);\n        //    viewer.shift(gridClient.currentGrid.pose.position.x,\n        //                 gridClient.currentGrid.pose.position.y);\n        //});\n        \n        var navClient = new NAV2D.OccupancyGridClientNav({\n            ros: ros,\n            topic: \"/map\",\n            rootObject: viewer.scene,\n            serverName: \"/move_base/goal\",\n            viewer: viewer\n        });\n    }\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":110,"y":180,"wires":[[]]},{"id":"7fc54335.d5f4dc","type":"ui_template","z":"daac5ad4.489ca8","group":"2db34e8b.e7a0fa","name":"display map","order":1,"width":"0","height":"0","format":"<script>initVisualization();</script>\n<p>Navigation goal is set by double clicking a location in the map.</p>\n<div id=\"map\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":330,"y":180,"wires":[[]]},{"id":"1d1e15fe.ef6dda","type":"ros-subscriber","z":"daac5ad4.489ca8","connection":"25cde50a.1d5172","topic":"/odometry/filtered","rate":"100","name":"/odometry/filtered","x":120,"y":40,"wires":[["f4b235bc.3909a"]]},{"id":"f4b235bc.3909a","type":"function","z":"daac5ad4.489ca8","name":"odom to speed","func":"var x = msg.payload.twist.twist.linear.x;\nvar y = msg.payload.twist.twist.linear.y;\nvar z = msg.payload.twist.twist.linear.z;\nvar speed = Math.sqrt(Math.pow(x, 2) + Math.pow(y, 2) + Math.pow(z, 2));\nmsg.payload = speed;\nreturn msg","outputs":1,"noerr":0,"x":340,"y":40,"wires":[["e60999f0.d6908"]]},{"id":"e60999f0.d6908","type":"ui_gauge","z":"daac5ad4.489ca8","name":"speed gauge","group":"49cf1445.3296b4","order":1,"width":0,"height":0,"gtype":"gage","title":"Linear speed","label":"meters per second","format":"","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":40,"wires":[]},{"id":"dcde26cc.ac07c","type":"ros-subscriber","z":"daac5ad4.489ca8","connection":"25cde50a.1d5172","topic":"/amcl_pose","rate":"100","name":"/amcl_pose","x":110,"y":80,"wires":[["f0b7025d.0e9d18"]]},{"id":"f0b7025d.0e9d18","type":"function","z":"daac5ad4.489ca8","name":"pose uncertainty","func":"// Compute Frobenius norm of the covariance matrix\nvar matrixSize = 36;\nvar i;\nvar sum = 0;\nfor (i = 0; i < matrixSize; i++) {\n    sum += Math.pow(msg.payload.pose.covariance[i], 2);\n}\nmsg.payload = Math.sqrt(sum);\nreturn msg","outputs":1,"noerr":0,"x":350,"y":80,"wires":[["8b8a946e.64924"]]},{"id":"8b8a946e.64924","type":"ui_gauge","z":"daac5ad4.489ca8","name":"pose uncertainty","group":"49cf1445.3296b4","order":2,"width":0,"height":0,"gtype":"gage","title":"Pose uncertainty","label":"","format":"","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":80,"wires":[]},{"id":"c9ceea7b.92bec","type":"ros-subscriber","z":"daac5ad4.489ca8","connection":"25cde50a.1d5172","topic":"/imu_data","rate":"100","name":"/imu_data","x":100,"y":120,"wires":[["dc8c6318.cd9be"]]},{"id":"e859a25e.1ded28","type":"ui_chart","z":"daac5ad4.489ca8","name":"","group":"49cf1445.3296b4","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":120,"wires":[[]]},{"id":"dc8c6318.cd9be","type":"function","z":"daac5ad4.489ca8","name":"linear acceleration x","func":"msg.payload = msg.payload.linear_acceleration.z\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":120,"wires":[["e859a25e.1ded28"]]},{"id":"879090b6.5869a","type":"ui_template","z":"daac5ad4.489ca8","group":"c553171c.3733","name":"GzWeb","order":0,"width":0,"height":0,"format":"<iframe style=\"width:1000px; height:800px;\"\nframeborder=\"2\" scrolling=\"yes\" \nmarginheight=\"0\"marginwidth=\"0\" \nsrc=\"http://192.168.137.96:8080\">\n</iframe>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":520,"y":180,"wires":[[]]},{"id":"2db34e8b.e7a0fa","type":"ui_group","z":"","name":"2D Map","tab":"ab8b24cf.1e067","order":1,"disp":true,"width":8,"collapse":false},{"id":"25cde50a.1d5172","type":"ros-connection","z":"","url":"ws://localhost:9090"},{"id":"49cf1445.3296b4","type":"ui_group","z":"","name":"Status","tab":"ab8b24cf.1e067","order":3,"disp":true,"width":"6","collapse":false},{"id":"c553171c.3733","type":"ui_group","z":"","name":"3D","tab":"ab8b24cf.1e067","order":3,"disp":true,"width":"18","collapse":true},{"id":"ab8b24cf.1e067","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","disabled":false,"hidden":false}]